<nav class="navbar">
  <ul>
    <li>Game Shop</li>
    <div>
      <li><a href="/">Home</a></li>
      <li><a href="/game">Games</a></li>
      <li><a href="/genre">Genres</a></li>
      <li><a href="/dev">Developers</a></li>
    </div>
  </ul>
</nav>
