<nav class="navbar">
  <ul>
    <li class="nav-left"><a href="/">Game Shop</a></li>
    <div class="nav-right">
      <li><a href="/game">Games</a></li>
      <li><a href="/genre">Genres</a></li>
      <li><a href="/dev">Developers</a></li>
    </div>
  </ul>
</nav>
