<body>
     <%- include("partials/navbar.ejs") %>
     <a href="/dev/form">Dev Form</a>
    <div>
        <% for (let i = 0; i < devs.length; i++){ %>
            <div>
              <a href="/dev/<%= devs[i].developer %>"><%= devs[i].developer%></a>
              <a href="/dev/<%= devs[i].id %>/delete" >Delete</a>
            </div>
        <% } %>
    </div>
</body>