<body>
    <div>
        <% for (let i = 0; i < devs.length; i++){ %>
            <div>
              <a href="/dev/<%= devs[i].developer %>"><%= devs[i].developer%></a>
            </div>
        <% } %>
    </div>
</body>