<body>
     <%- include("partials/navbar.ejs") %>
     <a href="/genre/form">Genre Form</a>
    <div>
        <% for (let i = 0; i < genres.length; i++){ %>
            <div>
              <a href="/genre/<%= genres[i].genre %>"><%= genres[i].genre%></a>
              <a href="/genre/<%= genres[i].id %>/delete" >Delete</a>
            </div>
            </div>
        <% } %>
    </div>
</body>