<body>
    <div>
        <% for (let i = 0; i < genres.length; i++){ %>
            <div>
              <a href="/genre/<%= genres[i].genre %>"><%= genres[i].genre%></a>
            </div>
            </div>
        <% } %>
    </div>
</body>