<head>
  <link rel="stylesheet" href="/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet"
  />
</head>
<body class="roboto-text">
  <main class="genre-main">
    <h2>Add Dev</h2>
    <form class="genre-form" method="POST" action="/dev/form">
      <div>
        <label for="dev">Dev </label>
        <input type="text" name="dev" id="dev" required />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </main>
</body>
