<body>
  <main>
    <form method="POST" action="/dev/form">
      <div>
        <label for="dev">Dev </label>
        <input type="text" name="dev" id="dev" />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </main>
</body>
