<body>
  <main>
    <form method="POST" action="/genre/form">
      <div>
        <label for="genre">Genre </label>
        <input type="text" name="genre" id="genre" />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </main>
</body>
