<body>
  <main>
    <form method="POST" action="/genre/<%= id %>/delete">
      <div>
        <label for="password">Admin Password </label>
        <input type="text" name="password" id="password" />
      </div>
      <input type="submit" value="Submit" />
    </form>
  </main>
</body>
